-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('PELERIN', 'GUIDE', 'AGENCE', 'FAMILLE', 'SUPER_ADMIN');

-- CreateEnum
CREATE TYPE "TypeVoyage" AS ENUM ('HAJJ', 'UMRAH');

-- CreateEnum
CREATE TYPE "StatutGroupe" AS ENUM ('PLANIFIE', 'EN_COURS', 'TERMINE', 'ANNULE');

-- CreateEnum
CREATE TYPE "StatutEvenement" AS ENUM ('PLANIFIE', 'EN_COURS', 'TERMINE', 'ANNULE');

-- CreateEnum
CREATE TYPE "DisponibiliteGuide" AS ENUM ('DISPONIBLE', 'INDISPONIBLE');

-- CreateEnum
CREATE TYPE "EtapeVoyage" AS ENUM ('IHRAM', 'TAWAF_AL_QUDUM', 'SAI', 'ARAFAT', 'MUZDALIFAH', 'MINA', 'RAMI_JAMARAT', 'TAWAF_AL_IFADA', 'TAWAF_AL_WADA', 'TAHALLUL', 'TAWAF_UMRAH');

-- CreateEnum
CREATE TYPE "TypeEvenement" AS ENUM ('PRIERE', 'TRANSPORT', 'REPAS', 'RITE', 'REPOS', 'AUTRE', 'VISITE');

-- CreateEnum
CREATE TYPE "StatutAgence" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'SUSPENDED');

-- CreateEnum
CREATE TYPE "PasswordTokenType" AS ENUM ('SET_PASSWORD', 'RESET_PASSWORD');

-- CreateEnum
CREATE TYPE "StatutPelerin" AS ENUM ('PRESENT', 'EN_DEPLACEMENT', 'BESOIN_AIDE', 'SOS');

-- CreateEnum
CREATE TYPE "StatutAppel" AS ENUM ('EN_COURS', 'CLOTURE');

-- CreateEnum
CREATE TYPE "StatutPresence" AS ENUM ('EN_ATTENTE', 'PRESENT', 'ABSENT', 'EXCUSE');

-- CreateEnum
CREATE TYPE "ModeConfirmation" AS ENUM ('AUTOMATIQUE', 'MANUEL');

-- CreateEnum
CREATE TYPE "StatutAlerte" AS ENUM ('EN_COURS', 'RESOLUE', 'ANNULEE');

-- CreateEnum
CREATE TYPE "TypeIncident" AS ENUM ('SOS', 'MALADIE', 'PERTE', 'LOGISTIQUE', 'AUTRE');

-- CreateTable
CREATE TABLE "Utilisateur" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "motDePasse" TEXT,
    "nom" TEXT NOT NULL,
    "prenom" TEXT NOT NULL,
    "telephone" TEXT,
    "role" "Role" NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdById" TEXT,

    CONSTRAINT "Utilisateur_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RefreshToken" (
    "id" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "utilisateurId" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PasswordToken" (
    "id" TEXT NOT NULL,
    "utilisateurId" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "type" "PasswordTokenType" NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "usedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PasswordToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DeviceToken" (
    "id" TEXT NOT NULL,
    "utilisateurId" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "platform" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lastSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DeviceToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "utilisateurId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "type" TEXT,
    "tab" TEXT,
    "groupeId" TEXT,
    "eventId" TEXT,
    "etape" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "readAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RagChunk" (
    "id" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "source" TEXT NOT NULL,
    "section" TEXT,
    "audience" TEXT[],
    "language" TEXT NOT NULL DEFAULT 'fr',
    "tags" TEXT[],
    "documentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "embedding" vector NOT NULL,

    CONSTRAINT "RagChunk_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AgenceVoyage" (
    "id" TEXT NOT NULL,
    "utilisateurId" TEXT NOT NULL,
    "nomAgence" TEXT NOT NULL,
    "adresse" TEXT,
    "siteWeb" TEXT,
    "logo" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "approvedAt" TIMESTAMP(3),
    "rejectedAt" TIMESTAMP(3),
    "rejectionReason" TEXT,
    "status" "StatutAgence" NOT NULL DEFAULT 'PENDING',
    "approvedById" TEXT,
    "rejectedById" TEXT,

    CONSTRAINT "AgenceVoyage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Guide" (
    "id" TEXT NOT NULL,
    "utilisateurId" TEXT NOT NULL,
    "agenceId" TEXT NOT NULL,
    "specialite" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "disponibilite" "DisponibiliteGuide" NOT NULL DEFAULT 'DISPONIBLE',
    "disponibiliteMajAt" TIMESTAMP(3),

    CONSTRAINT "Guide_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Groupe" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "description" TEXT,
    "annee" INTEGER NOT NULL,
    "typeVoyage" "TypeVoyage" NOT NULL DEFAULT 'HAJJ',
    "agenceId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "dateDepart" TIMESTAMP(3),
    "dateRetour" TIMESTAMP(3),
    "nbMax" INTEGER,
    "status" "StatutGroupe" NOT NULL DEFAULT 'PLANIFIE',
    "hajjStartDate" TIMESTAMP(3),

    CONSTRAINT "Groupe_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GroupeGuide" (
    "id" TEXT NOT NULL,
    "groupeId" TEXT NOT NULL,
    "guideId" TEXT NOT NULL,
    "dateDebut" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dateFin" TIMESTAMP(3),
    "actif" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "GroupeGuide_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GroupePelerin" (
    "id" TEXT NOT NULL,
    "groupeId" TEXT NOT NULL,
    "pelerinId" TEXT NOT NULL,
    "dateDebut" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dateFin" TIMESTAMP(3),
    "actif" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "GroupePelerin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pelerin" (
    "id" TEXT NOT NULL,
    "utilisateurId" TEXT NOT NULL,
    "codeUnique" TEXT NOT NULL,
    "agenceId" TEXT NOT NULL,
    "dateNaissance" TIMESTAMP(3),
    "nationalite" TEXT,
    "numeroPasseport" TEXT,
    "photoUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "statut" "StatutPelerin" NOT NULL DEFAULT 'PRESENT',

    CONSTRAINT "Pelerin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Famille" (
    "id" TEXT NOT NULL,
    "utilisateurId" TEXT NOT NULL,
    "lienParente" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "agenceId" TEXT NOT NULL,

    CONSTRAINT "Famille_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FamillePelerin" (
    "id" TEXT NOT NULL,
    "familleId" TEXT NOT NULL,
    "pelerinId" TEXT NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FamillePelerin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlanningQuotidien" (
    "id" TEXT NOT NULL,
    "groupeId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "titre" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PlanningQuotidien_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EvenementPlanning" (
    "id" TEXT NOT NULL,
    "planningQuotidienId" TEXT NOT NULL,
    "type" "TypeEvenement" NOT NULL,
    "titre" TEXT NOT NULL,
    "description" TEXT,
    "lieu" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "heureDebutPrevue" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "estValide" BOOLEAN NOT NULL DEFAULT false,
    "etape" "EtapeVoyage",
    "valideParGuideId" TEXT,
    "valideeAt" TIMESTAMP(3),
    "status" "StatutEvenement" NOT NULL DEFAULT 'PLANIFIE',

    CONSTRAINT "EvenementPlanning_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AppelPresence" (
    "id" TEXT NOT NULL,
    "groupeId" TEXT NOT NULL,
    "guideId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "statut" "StatutAppel" NOT NULL DEFAULT 'EN_COURS',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "clotureAt" TIMESTAMP(3),

    CONSTRAINT "AppelPresence_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ConfirmationPresence" (
    "id" TEXT NOT NULL,
    "appelPresenceId" TEXT NOT NULL,
    "pelerinId" TEXT NOT NULL,
    "statut" "StatutPresence" NOT NULL DEFAULT 'EN_ATTENTE',
    "confirmeAt" TIMESTAMP(3),
    "confirmeMode" "ModeConfirmation",
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ConfirmationPresence_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Position" (
    "id" TEXT NOT NULL,
    "pelerinId" TEXT NOT NULL,
    "latitude" DOUBLE PRECISION NOT NULL,
    "longitude" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Position_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AlerteSOS" (
    "id" TEXT NOT NULL,
    "pelerinId" TEXT NOT NULL,
    "latitude" DOUBLE PRECISION NOT NULL,
    "longitude" DOUBLE PRECISION NOT NULL,
    "statut" "StatutAlerte" NOT NULL DEFAULT 'EN_COURS',
    "message" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolueAt" TIMESTAMP(3),
    "resolueParGuideId" TEXT,
    "groupeId" TEXT NOT NULL,
    "type" "TypeIncident" NOT NULL DEFAULT 'AUTRE',
    "description" TEXT,

    CONSTRAINT "AlerteSOS_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Utilisateur_email_key" ON "Utilisateur"("email");

-- CreateIndex
CREATE INDEX "Utilisateur_role_idx" ON "Utilisateur"("role");

-- CreateIndex
CREATE UNIQUE INDEX "RefreshToken_token_key" ON "RefreshToken"("token");

-- CreateIndex
CREATE INDEX "RefreshToken_utilisateurId_idx" ON "RefreshToken"("utilisateurId");

-- CreateIndex
CREATE UNIQUE INDEX "PasswordToken_tokenHash_key" ON "PasswordToken"("tokenHash");

-- CreateIndex
CREATE INDEX "PasswordToken_utilisateurId_idx" ON "PasswordToken"("utilisateurId");

-- CreateIndex
CREATE UNIQUE INDEX "DeviceToken_token_key" ON "DeviceToken"("token");

-- CreateIndex
CREATE INDEX "DeviceToken_utilisateurId_idx" ON "DeviceToken"("utilisateurId");

-- CreateIndex
CREATE INDEX "DeviceToken_platform_idx" ON "DeviceToken"("platform");

-- CreateIndex
CREATE INDEX "Notification_utilisateurId_createdAt_idx" ON "Notification"("utilisateurId", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "Notification_utilisateurId_isRead_idx" ON "Notification"("utilisateurId", "isRead");

-- CreateIndex
CREATE INDEX "RagChunk_language_idx" ON "RagChunk"("language");

-- CreateIndex
CREATE UNIQUE INDEX "AgenceVoyage_utilisateurId_key" ON "AgenceVoyage"("utilisateurId");

-- CreateIndex
CREATE INDEX "AgenceVoyage_status_idx" ON "AgenceVoyage"("status");

-- CreateIndex
CREATE UNIQUE INDEX "Guide_utilisateurId_key" ON "Guide"("utilisateurId");

-- CreateIndex
CREATE INDEX "Guide_agenceId_idx" ON "Guide"("agenceId");

-- CreateIndex
CREATE INDEX "Groupe_agenceId_idx" ON "Groupe"("agenceId");

-- CreateIndex
CREATE INDEX "Groupe_annee_idx" ON "Groupe"("annee");

-- CreateIndex
CREATE INDEX "Groupe_status_idx" ON "Groupe"("status");

-- CreateIndex
CREATE INDEX "GroupeGuide_groupeId_actif_idx" ON "GroupeGuide"("groupeId", "actif");

-- CreateIndex
CREATE INDEX "GroupeGuide_guideId_actif_idx" ON "GroupeGuide"("guideId", "actif");

-- CreateIndex
CREATE INDEX "GroupePelerin_groupeId_actif_idx" ON "GroupePelerin"("groupeId", "actif");

-- CreateIndex
CREATE INDEX "GroupePelerin_pelerinId_actif_idx" ON "GroupePelerin"("pelerinId", "actif");

-- CreateIndex
CREATE UNIQUE INDEX "Pelerin_utilisateurId_key" ON "Pelerin"("utilisateurId");

-- CreateIndex
CREATE UNIQUE INDEX "Pelerin_codeUnique_key" ON "Pelerin"("codeUnique");

-- CreateIndex
CREATE INDEX "Pelerin_agenceId_idx" ON "Pelerin"("agenceId");

-- CreateIndex
CREATE INDEX "Pelerin_statut_idx" ON "Pelerin"("statut");

-- CreateIndex
CREATE UNIQUE INDEX "Famille_utilisateurId_key" ON "Famille"("utilisateurId");

-- CreateIndex
CREATE INDEX "Famille_agenceId_idx" ON "Famille"("agenceId");

-- CreateIndex
CREATE INDEX "FamillePelerin_familleId_idx" ON "FamillePelerin"("familleId");

-- CreateIndex
CREATE INDEX "FamillePelerin_pelerinId_idx" ON "FamillePelerin"("pelerinId");

-- CreateIndex
CREATE UNIQUE INDEX "FamillePelerin_familleId_pelerinId_key" ON "FamillePelerin"("familleId", "pelerinId");

-- CreateIndex
CREATE INDEX "PlanningQuotidien_groupeId_date_idx" ON "PlanningQuotidien"("groupeId", "date");

-- CreateIndex
CREATE UNIQUE INDEX "PlanningQuotidien_groupeId_date_key" ON "PlanningQuotidien"("groupeId", "date");

-- CreateIndex
CREATE INDEX "EvenementPlanning_planningQuotidienId_idx" ON "EvenementPlanning"("planningQuotidienId");

-- CreateIndex
CREATE INDEX "EvenementPlanning_valideParGuideId_idx" ON "EvenementPlanning"("valideParGuideId");

-- CreateIndex
CREATE INDEX "EvenementPlanning_etape_idx" ON "EvenementPlanning"("etape");

-- CreateIndex
CREATE INDEX "AppelPresence_groupeId_idx" ON "AppelPresence"("groupeId");

-- CreateIndex
CREATE INDEX "AppelPresence_guideId_idx" ON "AppelPresence"("guideId");

-- CreateIndex
CREATE INDEX "AppelPresence_date_idx" ON "AppelPresence"("date");

-- CreateIndex
CREATE INDEX "ConfirmationPresence_appelPresenceId_idx" ON "ConfirmationPresence"("appelPresenceId");

-- CreateIndex
CREATE INDEX "ConfirmationPresence_pelerinId_idx" ON "ConfirmationPresence"("pelerinId");

-- CreateIndex
CREATE UNIQUE INDEX "ConfirmationPresence_appelPresenceId_pelerinId_key" ON "ConfirmationPresence"("appelPresenceId", "pelerinId");

-- CreateIndex
CREATE INDEX "Position_pelerinId_createdAt_idx" ON "Position"("pelerinId", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "AlerteSOS_pelerinId_idx" ON "AlerteSOS"("pelerinId");

-- CreateIndex
CREATE INDEX "AlerteSOS_groupeId_idx" ON "AlerteSOS"("groupeId");

-- CreateIndex
CREATE INDEX "AlerteSOS_statut_idx" ON "AlerteSOS"("statut");

-- CreateIndex
CREATE INDEX "AlerteSOS_resolueParGuideId_idx" ON "AlerteSOS"("resolueParGuideId");

-- AddForeignKey
ALTER TABLE "RefreshToken" ADD CONSTRAINT "RefreshToken_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PasswordToken" ADD CONSTRAINT "PasswordToken_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeviceToken" ADD CONSTRAINT "DeviceToken_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AgenceVoyage" ADD CONSTRAINT "AgenceVoyage_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Guide" ADD CONSTRAINT "Guide_agenceId_fkey" FOREIGN KEY ("agenceId") REFERENCES "AgenceVoyage"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Guide" ADD CONSTRAINT "Guide_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Groupe" ADD CONSTRAINT "Groupe_agenceId_fkey" FOREIGN KEY ("agenceId") REFERENCES "AgenceVoyage"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GroupeGuide" ADD CONSTRAINT "GroupeGuide_groupeId_fkey" FOREIGN KEY ("groupeId") REFERENCES "Groupe"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GroupeGuide" ADD CONSTRAINT "GroupeGuide_guideId_fkey" FOREIGN KEY ("guideId") REFERENCES "Guide"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GroupePelerin" ADD CONSTRAINT "GroupePelerin_groupeId_fkey" FOREIGN KEY ("groupeId") REFERENCES "Groupe"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GroupePelerin" ADD CONSTRAINT "GroupePelerin_pelerinId_fkey" FOREIGN KEY ("pelerinId") REFERENCES "Pelerin"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pelerin" ADD CONSTRAINT "Pelerin_agenceId_fkey" FOREIGN KEY ("agenceId") REFERENCES "AgenceVoyage"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pelerin" ADD CONSTRAINT "Pelerin_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Famille" ADD CONSTRAINT "Famille_agenceId_fkey" FOREIGN KEY ("agenceId") REFERENCES "AgenceVoyage"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Famille" ADD CONSTRAINT "Famille_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "Utilisateur"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FamillePelerin" ADD CONSTRAINT "FamillePelerin_familleId_fkey" FOREIGN KEY ("familleId") REFERENCES "Famille"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FamillePelerin" ADD CONSTRAINT "FamillePelerin_pelerinId_fkey" FOREIGN KEY ("pelerinId") REFERENCES "Pelerin"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlanningQuotidien" ADD CONSTRAINT "PlanningQuotidien_groupeId_fkey" FOREIGN KEY ("groupeId") REFERENCES "Groupe"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EvenementPlanning" ADD CONSTRAINT "EvenementPlanning_planningQuotidienId_fkey" FOREIGN KEY ("planningQuotidienId") REFERENCES "PlanningQuotidien"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EvenementPlanning" ADD CONSTRAINT "EvenementPlanning_valideParGuideId_fkey" FOREIGN KEY ("valideParGuideId") REFERENCES "Guide"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AppelPresence" ADD CONSTRAINT "AppelPresence_groupeId_fkey" FOREIGN KEY ("groupeId") REFERENCES "Groupe"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AppelPresence" ADD CONSTRAINT "AppelPresence_guideId_fkey" FOREIGN KEY ("guideId") REFERENCES "Guide"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConfirmationPresence" ADD CONSTRAINT "ConfirmationPresence_appelPresenceId_fkey" FOREIGN KEY ("appelPresenceId") REFERENCES "AppelPresence"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConfirmationPresence" ADD CONSTRAINT "ConfirmationPresence_pelerinId_fkey" FOREIGN KEY ("pelerinId") REFERENCES "Pelerin"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Position" ADD CONSTRAINT "Position_pelerinId_fkey" FOREIGN KEY ("pelerinId") REFERENCES "Pelerin"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AlerteSOS" ADD CONSTRAINT "AlerteSOS_groupeId_fkey" FOREIGN KEY ("groupeId") REFERENCES "Groupe"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AlerteSOS" ADD CONSTRAINT "AlerteSOS_pelerinId_fkey" FOREIGN KEY ("pelerinId") REFERENCES "Pelerin"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AlerteSOS" ADD CONSTRAINT "AlerteSOS_resolueParGuideId_fkey" FOREIGN KEY ("resolueParGuideId") REFERENCES "Guide"("id") ON DELETE SET NULL ON UPDATE CASCADE;

